project:
  type: default
  output-dir: _output

format:
  html:
    theme: cosmo
    toc: true
    toc-depth: 3
    code-fold: true
    code-summary: "Show code"
    self-contained: true

execute:
  echo: true
  warning: false
  message: false

knitr:
  opts_chunk:
    fig.width: 10
    fig.height: 8
    dpi: 150
